* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
header {
	width: 100%;
	height: 50px;
	background-color: #ff9A4b;
}
main {
	width: 960px;
	margin: 50px auto;
}
.step-box {
	float: left;
	width: 300px;
	margin-right: 30px;
	padding: 10px;
	position: relative;
	background-color: #EEEEEE;
}
.step-box:last-child {
	margin-right: 0;
}
.step1-img {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}
.step2-img {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}
.step3-img {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}
.step-num {
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}
.title {
	margin: 15px 0 5px;
}
footer {
	width: 100%;
	height: 50px;
	background-color: #AAAAAA;
}

@media screen and (max-width:768px) {
  header {
    height: 50px;
    margin-bottom: 50px
  }
  main {
    width: 100%;
    margin: 0px 5% 30px 5%;
  }
  .step-box {
    width: 90%;
    margin-bottom: 20px;
  }
  .step1-img, .step2-img, .step3-img {
    height: 150px;
  }
  footer {
    height: 50px; 
  }
}